.editor {
  display: flex;
  margin: 50px;
  gap: 10px;
}

.editor form {
  display: flex;
  flex-direction: column;
}

.buttons-container {
  display: flex;
  justify-content: right;
}

.editor textarea {
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
  width: 30vw;
  height: 50vh;
  resize: none;
  overflow: auto;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
}

.editor-output {
  outline: none;
}
