.login-page {
  background-color: rgb(18, 85, 151);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.login-page form {
  background-color: aliceblue;
  border-radius: 10px;
  padding: 20px;
  width: 25vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  color: #3498db;
}

.login-page input {
  border: 2px solid #3498db;
  border-radius: 10px;
  padding: 8px;
  font-size: medium;
}

.login-page button {
  padding: 8px;
}

.login-page .google-sign-in-btn {
  border: 2px solid #3498db;
  background-color: white;
  color: #3498db;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.home-page {
  display: flex;
  justify-content: flex-start;
}

.home-page .blacklist-form form {
  flex-direction: row;
  gap: 12px;
}

.home-page .invite-entry {
  display: flex;
  gap: 10px;
  margin: 10px 0px;
  align-items: center;
}

.home-page .invite-entry .username {
  margin: 0px 0px;
}

.editor-page {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.documents-page {
  padding: 15px 15vw;
}

.documents-page .documents {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.document-page form,
.account-page form {
  display: block;
}

.tokens-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.tokens-page main {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 75vw;
}

.tokens-page .tokens-table {
  text-align: center;
  border-radius: 30px;
  padding: 10px;
}

.tokens-page .tokens-table td {
  width: 50%;
  padding: 10px;
}

.account-page {
  height: 90vh;
  display: flex;
  justify-content: center;
}

.account-page main {
  width: 50vw;
  align-self: flex-start;
}

.account-page .logout-btn {
  align-self: flex-start;
  background-color: rgb(200, 0, 00);
}