* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.logo {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 108px;
  gap: 10px;
}

.logo .title {
  font-size: 3em;
  font-family: "Cal Sans";
}

.logo img {
  width: 50%;
  aspect-ratio: 1;
  fill: white;
  display: block;
}

body {
  margin: 0;
  background-color: #9bbbd1;
}

header {
  background-color: rgb(18, 85, 151);
  box-sizing: border-box;
  color: white;
  padding: 0px 40px;
  margin-bottom: 5px;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
}

a {
  text-decoration: none;
  color: inherit;
  background: none;
  border: none;
}

header {
  font-weight: bold;
}

button {
  background-color: #3498db;
  color: white;
  border: 0px;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: 700;
  font-family: sans-serif;
  cursor: pointer;
}

.panel {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  /* border: 3px solid #3498db8a; */
  gap: 10px;
  margin: 10px;
}

.panel .title {
  color: #3498db;
}

.panel form {
  display: flex;
  flex-direction: column;
}

.panel .buttons {
  display: flex;
  margin: 10px 0px;
  gap: 10px;
  justify-content: flex-end;
} 

.panel .text-block-input {
  width: 25vw;
  height: 50vh;
  resize: none;
  border: 2px #3498db solid;
  border-radius: 10px;
  padding: 15px;
  outline: none;
  font-size: 1rem;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  overflow-y: auto;
}

.panel input, .panel select {
  border: 2px #3498db solid;
  border-radius: 10px;
  padding: 5px;
  outline: none;
}